<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Counter</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content class="backimage">
                <v-layout align-center column justify-end pa-4>
                    <h2 class="headline">{{ message.welcome }}</h2>
                </v-layout>
                <v-layout align-center column justify-end pa-4>
                    <v-text-field type="number" v-model="interval" label="Interval" outlined></v-text-field>
                    <div class="text-center">
                        <v-btn @click="counter.decrement(interval)">
                            <v-icon>arrow_back</v-icon>&nbsp;Decrease
                        </v-btn>
                        <v-btn @click="counter.increment(interval)">
                            <v-icon>arrow_forward</v-icon>&nbsp;Increase
                        </v-btn>
                    </div>
                </v-layout>
                <v-layout align-center column justify-end pa-4>
                    <v-text-field type="number" v-model="counter.count" label="Count" outlined readonly></v-text-field>
                </v-layout>
            </v-content>
        </v-app>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="./index.js"></script>